html {
  background-color: $base-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}


$administrate_mobile_threshold: 500px;

.app-container {
    display: block;
    min-width: 700px;
}

.navigation__link {
    display: inline-block;
}

@media (min-width: $administrate_mobile_threshold) {
    .app-container {
        display: flex;
    }

    .navigation__link {
        display: block;
    }
}
