<div class="row">
  <div class="col-md-6 col-sm-12 offset-md-3">
    <div>
      <%= form_for :app, url: @status ? stop_url : run_url do |f| %>
        <%= f.label 'Interval (in minutes)' %>
        <%= f.select :interval, options_for_select((1..10).to_a, @interval), disabled: @status %>
        <%= f.submit (@status ? 'Stop application' : 'Run application'), class: 'btn btn-primary' %>
      <% end %>
  </div>
</div>
